<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги - Nail Meow</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/services" class="active">Услуги</a></li>
                <li><a href="/booking">Запись</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <section class="page-header">
        <h1>Наши услуги</h1>
        <p>Профессиональный уход за вашими ногтями</p>
    </section>
     <section class="services-container">
        <div class="services-grid" id="servicesList">
            <div class="service-card">
                <img src="{{ url_for('static', path='/images/nogti.jpg') }}" alt="Наращивание" class="service-icon-img">
                <h3>Наращивание</h3>
                <div class="price">1000 ₽</div>
                <p class="description">
                    Профессиональное наращивание ногтей гелем или акрилом. 
                    Идеальная форма и долговременный результат.
                </p>
                <a href="/booking" class="btn-book">Записаться</a>
            </div>

            <div class="service-card">
                <img src="{{ url_for('static', path='/images/pilochka.jpg') }}" alt="Снятие" class="service-icon-img">
                <h3>Снятие</h3>
                <div class="price">500 ₽</div>
                <p class="description">
                    Бережное снятие старого покрытия без повреждения 
                    натуральной ногтевой пластины.
                </p>
                <a href="/booking" class="btn-book">Записаться</a>
            </div>

            <div class="service-card">
                <img src="{{ url_for('static', path='/images/lak.jpg') }}" alt="Покрытие" class="service-icon-img">
                <h3>Покрытие</h3>
                <div class="price">800 ₽</div>
                <p class="description">
                    Покрытие гель-лаком любого цвета. 
                    Стойкость до 3-х недель, блеск и красота!
                </p>
                <a href="/booking" class="btn-book">Записаться</a>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2026 Nail Meow. Все права защищены.</p>
        <p>📍 г. Красноярск, ул. Матросова, 20, каб. 101</p>
    </footer>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>